* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

header {
    grid-column: 1 / span 3;
    height: 10vh;
}

section {
    width: 100%;
    height: 90vh;
    padding: 4rem;
    background-color: blue;
}

section.user {
    background-color: #fff;
    padding: 2rem 1rem;
}

header {
    border: 2px solid black;
}

section.user>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.user>p {
    padding-bottom: 2rem;
}

section.user div.add-user {
    display: flex;
    justify-content: center;
    background-color: rgb(231, 225, 225);
    padding: 0.4rem 0.3rem;
    border-radius: 5px;
    cursor: pointer;


}

section.user div.add-user p {
    display: flex;
    text-align: center;
    font-size: 0.7rem;
    width: 100%;
}

div.details {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 2px solid rgb(195, 191, 191);
    padding: 0.5rem 0;
    gap: 1rem;
}

div.details>div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

}

section.user div.details div.image {
    gap: 0.7rem;
}

div.information {
    width: 70%;
}

div.country {
    width: 100%;
}

div.country .second {
    width: 100%;
    display: flex;
    flex-direction: column;
}

div.information div {
    width: 100%;
}

div.country .second p {
    font-size: 0.9rem;
}

div.country img {
    margin: 0 0.6rem;
    border-radius: 0;
    display: flex;
    width: 10%;

}

div.activity {
    width: 45%;
}

div.activity div {
    width: 100%;
}

div.country .progress-bar.one {
    background-image: linear-gradient(to right, rgb(91, 255, 91), rgb(10, 207, 10));
}

div.country .progress-bar.two {
    background-image: linear-gradient(to right, rgb(255, 88, 255), rgb(255, 0, 255));
    width: 10%;
}

div.country .progress-bar.three {
    background-image: linear-gradient(to right, rgb(255, 255, 77), rgb(255, 255, 0));
    width: 74%;
}

div.details {
    position: relative;
}

span.one {
    background-color: #008000;
    padding: 0.3rem;
    border-radius: 50%;
    position: absolute;
    left: 3%;
    top: 55%;
    border: 1px solid #fff;
}

span.two {
    background-color: #e94460;
    padding: 0.3rem;
    border-radius: 50%;
    position: absolute;
    left: 3%;
    top: 55%;
    border: 1px solid #fff;
}

span.three {
    background-color: #ffff00;
    padding: 0.3rem;
    border-radius: 50%;
    position: absolute;
    left: 3%;
    top: 55%;
    border: 1px solid #fff;
}

/* @media only screen and (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
    }

    section.dashboard {
        display: none;
    }

    div.details {}

    img {
        width: 25%;
    }
    p {
        font-size: 0.5rem;
    }
    section.user div.activity {
        display: none;
    }
    div.country span p {
        font-size: 0.6rem;
    }
    div.country span {
        font-size: 0.6rem;
    }
} */